.about {
  margin-left: 10vw;
  margin-top: -50px;
  width: 80vw;
  text-align: left;
}

.primaryHeadline {
  text-align: center;
  color: black;
  font-weight: bold;
}

.aboutHeadlines {
  text-align: center;
}