.about {
  margin-left: 10vw;
  margin-top: -20px;
  width: 80vw;
  text-align: left;
}

.primaryHeadline {
  text-align: center;
  color: black;
  font-weight: bold;
}

.aboutSubtitle {
  text-align: center;
  color: black;
}

.aboutHeadline {
  text-align: center;
  color: black;
  font-weight: bold;
}

p {
  font-size: 1.1em;
}

h5 {
  font-weight: bold;
}

.closingLine {
  font-weight: bold;
}