.chapterCard {
  background: rgba(255, 240, 171, 0.3);
  border: thin solid black;
  width: 95vw;
  height: auto;
  margin: 20px;
}

.chapterCardBody {
  margin: 20px;
}

.createChapterForm {
  width: 50vw;
}

.Label {
  word-wrap: normal;
  font-size: 20px;
}

.createJourneyBody {
  border: thin solid black;
  background: rgba(255, 240, 171, 0.3);
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.chapterImageContainer > img:hover {
  width: 100%;
  height: auto;
  transition: width 1s;
}

.chapterImage {
  width: 300px;
  height: auto;
}

.chapterImageForEditing {
  width: 150px;
  height: auto;
}

.editChapterImageContainer > img:hover {
  width: 33%;
  height: auto;
  transition: width 1s;
}