.navbarBackground {
  text-align: center;
}

.navbarLogo {
  width: 30px;
  height: auto;
}

.navbarBrandText {
  font-weight: bold;
  font-size: 30px;
  text-shadow: 1px 1px 3px gray;
}

.btnAccount {
  text-decoration: none;
  color: black
}

.btnAccount:visited {
  text-decoration: none;
  color: black
}

.btnAccount:link {
  text-decoration: none;
  color: black
}

Button {
  margin-right: 2vw;
}

Link:link Link:visited {
  text-decoration: none;
  color: black;
}

.accountContainer {
  border: thin solid limegreen;
  background-color: limegreen;
  border-radius: 5px;
  color: black;
}

.navbarBtn {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: white;
}



#btnHome {
  background-color: indigo;
}

#btnJourneys {
  background-color: blueviolet;
}

#btnMyJourneys {
  background-color: blue;
}

#btnAbout {
  background-color: darkcyan;
}

#btnContactUs {
  background-color: cadetblue;
}

#btnAccount {
  background-color: mediumseagreen;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-top: 5px;

}