.navbarBackground {
  text-align: center;
}

.navbarLogo {
  width: 30px;
  height: auto;
}

.btnAccount {
  text-decoration: none;
  color: black
}

.btnAccount:visited {
  text-decoration: none;
  color: black
}

.btnAccount:link {
  text-decoration: none;
  color: black
}