.navbarBackground {
  text-align: center;
}

.navbarLogo {
  width: 30px;
  height: auto;
}

.navbarBrandText {
  font-weight: bold;
  font-size: 30px;
  text-shadow: 1px 1px 3px gray;
}

.btnAccount {
  text-decoration: none;
  color: black
}

.btnAccount:visited {
  text-decoration: none;
  color: black
}

.btnAccount:link {
  text-decoration: none;
  color: black
}

Button {
  margin-right: 2vw;
}

Link:link Link:visited {
  text-decoration: none;
  color: black;
}

.accountContainer {
  border: thin solid limegreen;
  background-color: limegreen;
  border-radius: 5px;
  color: black;
}