.App {
  text-align: center;
  font-family: 'Garamond', 'Times New Roman', 'Oxygen', serif;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.appWelcome {
  font-weight: bold;
}

.AuthForms {
  margin-top: 10vh;
}