body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Garamond', 'Times New Roman', 'Oxygen', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../src/styles/assets/tile01.jpg");
  background-repeat: repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
